@model PierreIdentity.Models.Treat
<h4>Create new treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  
  <input type="submit" value="Create Treat" class="btn btn-primary">
}